﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MainProject</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
	<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="File" asp-action="Index">File downloader</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						@*<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
							</li>*@
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<br />
	<br />
	<br />
	<br />
	<footer class="border-top footer text-muted" style="margin-top: 100px;">
		<div class="container">
			&copy; 2021 - MainProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@*library for anabling notifications*@
	<script src="~/lib/toastr.js/toastr.min.js"></script>

	@*table sorting library*@
	<script src="~/tablesort/tablesort.min.js"></script>
	<script src="~/tablesort/sorts/tablesort.date.min.js"></script>
	<script src="~/tablesort/sorts/tablesort.dotsep.min.js"></script>
	<script src="~/tablesort/sorts/tablesort.filesize.min.js"></script>
	<script src="~/tablesort/sorts/tablesort.monthname.min.js"></script>
	<script src="~/tablesort/sorts/tablesort.number.min.js"></script>

	@*another table sorting library*@
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

	<script src="https://kit.fontawesome.com/5327974dc8.js" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
