﻿@model MainProject.Models.UserVM
@{
	//ViewData["Title"] = "Delete";
	Layout = null;
}

<div class="modal-body">
	@Html.LabelFor(model => model.Id):
	<b>@Html.DisplayFor(model => model.Id)</b>
	<br />

	@Html.LabelFor(model => model.Name):
	<b>@Html.DisplayFor(model => model.Name)</b>
	<br />

	@Html.LabelFor(model => model.DateofBirth):
	<b>@Html.DisplayFor(model => model.DateofBirth)</b>
	<br />

	@Html.LabelFor(model => model.IsMarried):
	<b>@Html.DisplayFor(model => model.IsMarried)</b>
	<br />

	@Html.LabelFor(model => model.Phone):
	<b>@Html.DisplayFor(model => model.Phone)</b>
	<br />

	@Html.LabelFor(model => model.Salary):
	<b>@Html.DisplayFor(model => model.Salary)</b>
	<br />
</div>
