﻿@model IEnumerable<UserVM>
@{
	var data = ViewBag.ConvertationIsSucces;
	var message = ViewBag.Message;
}

@*convertation result notification check*@
@if (data != null)
{
	<input type="hidden" id="convertatioNotification" value="@data.ToString()" />
}

@*file format acceptability notification check*@
@if (message != null)
{

	<input type="hidden" id="wrongFileFormatNotification" value="@message.ToString()" />
}

<div class="text-center">
	<h4 class="display-4">Upload your .csv / .xlsx file</h4>
</div>
<hr />
<br />

@*file upload field*@
<h4 id="warning" class="text-center text-danger" style="margin-bottom: 20px;"></h4>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<form asp-controller="File" asp-action="FileDownloader" enctype="multipart/form-data" method="post">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button class="btn btn-secondary" type="submit">Upload</button>
					</div>
					<div class="custom-file">
						<input type="file" name="file" class="custom-file-input" id="dataFile">
						<label class="custom-file-label" for="dataFile">Choose file</label>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

@*table search records*@

<div class="row">
	<div class="col-md-9"></div>
	<div class="col-md-3">
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
			</div>
			<input type="search" id="search"
				   class="form-control search-input"
				   aria-label="Small" aria-describedby="inputGroup-sizing-sm"
				   data-table="customers-list">
		</div>
	</div>
</div>



@*table of converted records*@
<div class="row justify-content-center">
	<div class="col-md-12">
		@if (Model != null)
		{
			<table id="records" class="table table-striped table-sm table-hover customers-list">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Birth date</th>
						<th>Is married</th>
						<th>Phone</th>
						<th>Salary</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr id="row_@item.Id">
							<th scope="row">@item.Id</th>
							<td>@item.Name</td>
							<td>@item.DateofBirth.Value.ToString("yyyy-MM-dd")</td>
							<td>@item.IsMarried.ToString()</td>
							<td>@item.Phone</td>
							<td>@item.Salary.ToString()</td>
							<td>
								<a href="#" id="@item.Id"
								   onclick="RecordDeleteRequest(this.id)"
								   class=" ml-1">
									<i class="fa fa-trash-alt fa-lg"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>

	@*modal for delete*@
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" id="dialogContent" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center" id="exampleModalLabel">Do you want to delete this record?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="ConfirmDelete()">Confirm </button>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="hiddenRecordId" />



@section scripts
{
	<script type="text/javascript">

		// check file format
		$('#dataFile').on('change', function () {
			//get the file name
			var fileName = $(this).val();

			var extension = fileName.substring(fileName.lastIndexOf('.') + 1);
			if (extension != "csv" || extension != "xlsx")
				$('#warning').text("acceptable file extensions: .csv / .xlsx");
			if (extension == "csv" || extension == "xlsx")
				$('#warning').text("");
			//replace the "Choose a file" label
			$(this).next('.custom-file-label').html(fileName);
		});

		// notifier work
		$(document).ready(function () {
			var val_1 = $('#wrongFileFormatNotification').val();
			if (val_1 == "invalid file format") {
				toastr.warning("Invalid file format");
			}

			var val_2 = $('#convertatioNotification').val();
			console.log("result:", val_2)
			if (val_2 == "True") {
				toastr.success("File converted succesfully");
			}
			if (val_2 == "False") {
				toastr.error("File convertation error");
			}
		});

		//request to remove record
		function RecordDeleteRequest(id) {
			$("#hiddenRecordId").val(id);
			$.get("@Url.Action("DeleteRequest", "File")/" + id,
				function (data) {
					$('.modal-body').html(data);
				})
			$('#myModal').modal('show');
		}

		//record removing
		var ConfirmDelete = function () {
			var recId = $("#hiddenRecordId").val();
			$.ajax({
				type: "POST",
				url: "/File/DeleteConfirmation",
				data: { Id: recId },
				success: function (result) {
					$("#row_" + recId).remove();
					$("#myModal").modal('hide');
				}
			})
		};


		// SEARCHING + SORTING code in wwww/js/site.js

	</script>
}

